{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор этого проекта</h1>
<div>
{#Поработай над порядком в верстке. Принцип такой: каждый вложенный тег имеет на 1 табуляцию больше, чем родительский. Закрывающий тег на уровне с открывающим(по вертикали).#}
{% load static %}
<img src="{% static 'img/self.png' %}"
</div>
<div>
  <p>
    <h3>Меня зовут Ляховицкая Наталья.<h3>
  </p>
</div>
<p>
  По образованию я магистр изящных искусств.<br>
  По жизни разработчик<br>
  По факту просто хороший человек.<br>
  Надеюсь, что делаю что-то полезное для человечества.<br>
  Приятного пользования!
</p>
{% endblock %}