{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
      <div class="mb-5">
        <h1>{{ title }}</h1>
        <h3>Всего постов:{{ all_posts }}</h3>

      {# стоит добавить условия: 1. отображать кнопки только авторизованным пользователям 2. Отображать только пользователям, находящимся НЕ НА СВОЕМ ПРОФИЛЕ #}
        {% if following %}
          <a
            class="btn btn-lg btn-light"
            href="{% url 'posts:profile_unfollow' author.username %}" role="button"
          >
            Отписаться
          </a>
        {% else %}
          <a
            class="btn btn-lg btn-primary"
            href="{% url 'posts:profile_follow' author.username %}" role="button"
          >
            Подписаться
          </a>
        {% endif %} 
      </div> 
            <div class="container py-5">
              {% for post in page_obj %}
                {% include 'includes/post.html' %}
              {% endfor %}
            </div>
        <!-- Остальные посты. после последнего нет черты -->
        {% if not forloop.last %}<hr>
        {% endif %}
        <!-- Здесь подключён паджинатор -->
        {% include 'posts/includes/paginator.html' %}
    {% endblock %}